.container .icon{
    margin-top: 4px;
}
.container .h5{
    padding: 10px;

}
.container .today{
    margin-left: 600px;
}

.container .option{
    margin-left: 400px;
}
.container .div{
    border: none;
}