.messages-chatbox {
  display: flex;
  justify-content: flex-start;
  width: 100%;
}
.messages-left-chat {
  border: 1px solid lightgrey;
  box-shadow: 0 5px 10px rgba(51, 66, 87, 0.05);
  border-radius: 10px;
  width: 80%;
  max-width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 0px;
  gap: 10px;
}
.messages-right-chat {
  border: 1px solid #f4f4f4;
  box-shadow: 0 5px 10px rgba(51, 66, 87, 0.05);
  border-radius: 10px;
  width: 80%;
  max-width: 800px;
}
.johnChat {
  background-color: #f3f3f3;
}
.header {
  border: 1px solid lightgrey;
  margin: auto;
}
