.page-title{
    text-align: left;
    font-size: 20px;
}
.logo{
    width: 35px;
}
.badge{
    background-color: rgb(230, 226, 226);
    color: black;
    font-size: 10px;
    margin-left: 3px;
}
.card--header{
    display: flex;
}
.input-group{
    width: 400px;
}
.input-group-text{
    background-color: rgb(12, 124, 126);
    color: white;
}
 .img{
    width: 50px;
    border-radius: 5px;
    border: 1px solid rgb(201, 201, 201);
    margin-right: 10px;
 }
 tr .rate{
    color: skyblue;
    margin: 2px;
    
 }
 tr td a{
    text-decoration: none;
    color:black;
 }
 tr td a:hover{
    color: blue;
 }
 .form-check-input{
    position: relative;
    left: 50px;
    color: rgb(3, 57, 57);
    padding: 10px;
}
.table .light{
    background-color: aquamarine;
}

 