div > p {
    font-size: 21px;
    padding: 20px;
    font-weight: 350;
  }
  .newdelivery > .para {
    font-size: 17px;
    font-weight: 650;
    padding: 20px;
    border: 1px solid lightgray;
    width: 90%;
    margin: auto;
  }
  .newdelivery > .para > .parag{
    font-size: 17px;
    font-weight: 650;
    padding: 20px;
  }
  