.text {
    color: black;
    text-size-adjust: 15px;
  }
  
   
  .text > .card-body {
    box-shadow: 0 6px 24px 0 rgba(140, 152, 164, 0.125);
    width: 90%;
    margin: auto;
    border: 1px solid lightgray;
    border-radius: 10px;
  }
  .text > .table-container {
    width: 90%;
    margin: auto;
  }
  